name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # 新增：清理磁盘空间，防止编译时空间不足
      - name: Free Disk Space
        run: |
          sudo docker image prune -a -f
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf libtool pkg-config zlib1g-dev \
          libncurses6 libncursesw6 cmake libffi-dev libssl-dev \
          build-essential python3-setuptools openjdk-17-jdk
          pip install --upgrade pip
          pip install Cython==0.29.33 buildozer

      - name: Build with Buildozer
        run: |
          # 明确告诉 buildozer 自动接受协议
          yes | buildozer -v android debug
